@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<form method="post" action="/Home/Test" id="frm">
    <input type="text" id="nombre" name="nombre"/>
    <button type="submit">Enviar</button>
</form>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#frm").submit(function() {
                var form = $(this);

                if (form.validate()) {
                    form.ajaxSubmit({
                        dataType: 'JSON',
                        type: 'POST',
                        url: form.attr('action'),
                        success: function(r) {
                            console.log("Respuesta",r);
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                }

                return false;
            });
        })
    </script> 
}

