

<h1>Create</h1>

<form action="/Nota/Create" method="post">
    <input type="text" id="texto" name="texto" />
    <input type="checkbox" id="esImportante" name="esImportante" />
    <button type="submit">Guardar Nota</button>
</form>
